[Desktop Entry]
Name=TMScanner
Comment=Universal Scanner Application
Comment[tr]=Evrensel Tarayıcı Uygulaması
Exec=python3 /usr/share/tmscanner/tmscanner.py
Icon=/usr/share/tmscanner/icon.png
Terminal=false
Type=Application
Categories=Graphics;Scanning;Office;
Keywords=scanner;tarayici;tmscanner;scan;
StartupNotify=true
